<!DOCTYPE html>
<html>
  <head>
    <title>Create Tickets</title>
  </head>
  <body>
    <div class="container">
      <h1>Create New Ticket</h1>
      <form action="/items/<%= event %>/tickets/create" method="post">
        <table>
          <tbody>
            <tr>
              <td>Event ID</td>
              <td><input type="hidden" name="event_id" value="<%= event %>"><%= event %></td>
            </tr>
            <tr>
              <td>Type of ticket</td>
              <td>
                <% if(types.length>0) { %>
                  <select id="type" name="type">
                  <% for(var i=0;i<types.length;i++) { %>
                    <% if (types[i].event_id==event) { %>
                    <option value="<%= types[i].name%>"><%= types[i].type%> <%= types[i].price%>,00€</option>
                    <% } else {} %>
                <% } %>
                </select>
                <td><a href="/items/<%= event %>/tickets/type">Create new type of ticket</a></td>
              <% } else { %>
                <a href="/items/<%= event %>/tickets/type">Create new type of ticket</a>
              <% } %>
            </tr>
            <tr>
              <td>Quantity</td>
              <td><input type="number" name="quantity" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <h3><a href="/items/<%= event %>/tickets">See all tickets of event</a></h3>
  </body>
</html>
