<!DOCTYPE html>
<html>
  <head>
    <title>Ticket Detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Ticket Detail</h1>
      <% console.log(ticket._id) %>
      <form action="/items/<%= ticket.event_id %>/tickets/edit/<%= ticket._id%> " method="post">
        <table>
          <tbody>
          <tr>
            <td>ID</td>
            <td><input type="hidden" name="_id" id="_id" value="<%= ticket._id %>"><%= ticket._id %></td>
          </tr>
          <tr>
            <td>Event ID</td>
            <td><input type="hidden" name="event_id" value="<%= ticket.event_id %>"><%= ticket.event_id %></td>
          </tr>
          <tr>
            <td><% if(types.length>0) { %>
              <select id="type" name="type" required>
              <% for(var i=0; i<types.length; i++) { %>
                <% if (ticket.event_id == types[i].event_id) { %>
                  <% if (ticket.type==types[i].type) { %>
                    <option value="<%= types[i].name%>" selected><%= types[i].type%> <%= types[i].price%>,00€</option>
                  <% } else {} } else { %>
                    <option value="<%= types[i].name%>"><%= types[i].type%> <%= types[i].price%>,00€</option>
              <% } } %>
            </select></td>
            <td><a href="/items/<%= ticket.event_id %>/tickets/type">Create new type of ticket</a></td>
            <% } else { %>
              <a href="/items/<%= ticket.event_id %>/tickets/type">Create new type of ticket</a>
            <% } %> 
          </tr> 
          </tbody>
        </table>
    </form>
    </div>
    <h3><a href="/items/<%= ticket.event_id %>/tickets">See all tickets of event</a></h3>
  </body>
</html>

