<!DOCTYPE html>
<html>
  <head>
    <title>Places List</title>
  </head>
  <body>
    <div class="container">
      <h1>Place List</h1>
      <% if(items.length>0) { %>
        <table class="list-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Place Name</th>
              <th>Address</th>
              <th>Edit</th>
              <th>Eliminate</th>
            </tr>
          </thead>
          <tbody>

            <% for(var i=0; i<items.length;i++) { %>
              <tr>
                <td> <%=i%> </td>
                <td> <%= items[i].name%></td>
                <td> <%= items[i].address%></a></td>
                <td><a href="/places/edit/<%= items[i]._id%> "> Edit </a></td>
                <td><a href="/places/delete/<%= items[i]._id%> "> Eliminate </a></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      <% } else { %>
        <div>No places found.</div>
      <% } %>
    </div>
    <h3><a href="/places/create">Create new place</a></h3>
    <h3><a href="/items">See all events</a></h3>
  </body>
</html>