<!DOCTYPE html>
<html>
  <head>
    <title>Types of tickets</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/" class="nav-branding">PortugueseRoots</a>
        <a href="/users" class="button">See all Users</a>
        <a href="/users/create" class="button secondary">Create user</a>
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="/admins/create" class="nav-link">Create admin</a>
          </li>
          <li class="nav-item">
            <a href="/admins" class="nav-link">See all Admins</a>
          </li>
          <li class="nav-item">
            <a href="/users" class="nav-link">See all the users</a>
          </li>
          <li class="nav-item">
            <a href="/items" class="nav-link">See all the events</a>
          </li>
          <li class="nav-item">
            <a href="/places" class="nav-link">See all the places</a>
          </li>
          <li class="nav-item">
            <a href="/places" class="nav-link">See all the places</a>
          </li>
          <li class="nav-item">
            <a href="/sales" class="nav-link">See all the sales</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <section>
      <div class="container">
        <h1>Types List for <input type="hidden" name="event_id" id="event_id" value="<%= event %>"><%= event %></h1>
        
        <h3><a href="/items/<%= event %>/tickets/type">Create new ticket</a></h3>
        <h3><a href="/items/<%= event %>/tickets">Return to the tickets</a></h3>
  
        <% if(types.length>0) { %>
          <table class="list-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Event ID</th>
                <th>Type ID</th>
                <th>Type</th>
                <th>Price</th>
                <th>Edit</th>
                <th>Eliminate</th>
              </tr>
            </thead>
            <tbody>
  
              <% for(var i=0; i<types.length;i++) { %>
              <% if (types[i].event_id == event) { %>
                <tr>
                  <td> <%=i%> </td>
                  <td> <%= types[i].event_id%></td>
                  <td> <%= types[i]._id%></td>
                  <td> <%= types[i].type%></td>
                  <td> <%= types[i].price%>€</td>
                  <td><a href="/items/<%= event %>/tickets/edit/<%= types[i]._id%> "> Edit </a></td>
                  <td><a href="/items/<%= event %>/tickets/delType/<%= types[i]._id%> "> Eliminate </a></td>
                </tr>
              <% } else {} } %>
            </tbody>
          </table>
        <% } else { %>
          <div>No tickets found</div>
        <% } %>
      </div>
    </section>
  </body>
  <script src="/js/navbar.js"></script>
</html>