<!DOCTYPE html>
<html>
  <head>
    <title>Types of tickets</title>
  </head>
  <body>
    <div class="container">
      <h1>Types List for <input type="hidden" name="event_id" id="event_id" value="<%= event %>"><%= event %></h1>
      
      <h3><a href="/items/<%= event %>/tickets/type">Create new ticket</a></h3>
      <h3><a href="/items/<%= event %>/tickets">Return to the tickets</a></h3>

      <% if(types.length>0) { %>
        <table class="list-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Event ID</th>
              <th>Type ID</th>
              <th>Type</th>
              <th>Price</th>
              <th>Edit</th>
              <th>Eliminate</th>
            </tr>
          </thead>
          <tbody>

            <% for(var i=0; i<types.length;i++) { %>
            <% if (types[i].event_id == event) { %>
              <tr>
                <td> <%=i%> </td>
                <td> <%= types[i].event_id%></td>
                <td> <%= types[i]._id%></td>
                <td> <%= types[i].type%></td>
                <td> <%= types[i].price%>€</td>
                <td><a href="/items/<%= event %>/tickets/edit/<%= types[i]._id%> "> Edit </a></td>
                <td><a href="/items/<%= event %>/tickets/delType/<%= types[i]._id%> "> Eliminate </a></td>
              </tr>
            <% } else {} } %>
          </tbody>
        </table>
      <% } else { %>
        <div>No tickets found</div>
      <% } %>
    </div>
  </body>
</html>