<!DOCTYPE html>
<html>
  <head>
    <title>Event List</title>
  </head>
  <body>
    <div class="container">
      <h1>Person List</h1>
      <% if(items.length>0) { %>
        <table class="list-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Id</th>
              <th>Name</th>
              <th>phonenumber</th>
              <th>email</th>
              <th>Show</th>
              <th>Edit</th>
              <th>Eliminate</th>
            </tr>
          </thead>
          <tbody>

            <% for(var i=0; i<items.length;i++) { %>
              <tr>
                <td> <%=i%> </td>
                <td> <%=items[i]._id%></a></td>
                <td> <%= items[i].name%></a></td>
                <td> <%= items[i].phonenumber%></a></td>
                <td> <%= items[i].email%></a></td>
                <td><a href="/users/show/<%= items[i]._id%> "> Show </td>
                <td><a href="/users/edit/<%= items[i]._id%> "> Edit </a></td>
                <td><a href="/users/delete/<%= items[i]._id%> "> Eliminate </a></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      <% } else { %>
        <div>No persons found</div>
      <% } %>
    </div>
    <h3><a href="/users/create">Create new User</a></h3>
    <h3><a href="/admin/create">Create new Admin</a></h3>
  </body>
</html>