<!DOCTYPE html>
<html>
  <head>
    <title>Admin Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/" class="nav-branding">PortugueseRoots</a>
        <a href="/users" class="button">See all Users</a>
        <a href="/users/create" class="button secondary">Create user</a>
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="/admins/create" class="nav-link">Create admin</a>
          </li>
          <li class="nav-item">
            <a href="/admins" class="nav-link">See all Admins</a>
          </li>
          <li class="nav-item">
            <a href="/users" class="nav-link">See all the users</a>
          </li>
          <li class="nav-item">
            <a href="/items" class="nav-link">See all the events</a>
          </li>
          <li class="nav-item">
            <a href="/places" class="nav-link">See all the places</a>
          </li>
          <li class="nav-item">
            <a href="/places" class="nav-link">See all the places</a>
          </li>
          <li class="nav-item">
            <a href="/sales" class="nav-link">See all the sales</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <section>
      <div class="container">
        <h1>Admin Detail</h1>
        <form action="/admins/edit/<%=item._id%>" method="post">
          <table>
            <tbody>
              <tr>
                <td>Id</td>
                <!-- Como o id não pode ser alterado usamos o input hidden para o enviar como campo do formulário. -->
                <td>
                  <input
                    type="hidden"
                    name="_id"
                    id="_id"
                    value="<%= item._id %>"
                  /><%= item._id %>
                </td>
              </tr>
              <tr>
                <td>Name</td>
                <td>
                  <input
                    type="text"
                    name="name"
                    id="name"
                    value="<%= item.name %>"
                  />
                </td>
              </tr>
              <tr>
                <td>Phone number</td>
                <td>
                  <input
                    type="text"
                    name="phonenumber"
                    id="phonenumber"
                    value="<%= item.phonenumber %>"
                  />
                </td>
              </tr>
              <tr>
                <td>Email</td>
                <td>
                  <input
                    type="text"
                    name="email"
                    id="email"
                    value="<%= item.email %>"
                  />
                </td>
              </tr>
              <tr>
                <td colspan="2"><button type="submit">Edit</button></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
      <h3 class="links"><a href="/admins">Watch all the admins</a></h3>
    </section>
  </body>
  <script src="/js/navbar.js"></script>
</html>
