<!DOCTYPE html>
<html>
  <head>
    <title>Admin List</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/" class="nav-branding">PortugueseRoots</a>
        <a href="/users" class="button">See all Users</a>
        <a href="/users/create" class="button secondary">Create user</a>
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="/admins/create" class="nav-link">Create admin</a>
          </li>
          <li class="nav-item">
            <a href="/admins" class="nav-link">See all Admins</a>
          </li class="nav-item">
            <a href="/persons" class="nav-link">See all the users</a></li>
          <li class="nav-item">
            <a href="/items" class="nav-link">See all the events</a>
          </li>
          <li class="nav-item">
            <a href="/places" class="nav-link">See all the places</a>
          </li>
          <li class="nav-item">
            <a href="/places" class="nav-link">See all the places</a>
          </li>
          <li class="nav-item">
            <a href="/sales" class="nav-link">See all the sales</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <div class="container">
      <h1>Admin List</h1>
      <% if(items.length>0) { %>
        <table class="list-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Id</th>
              <th>Name</th>
              <th>phonenumber</th>
              <th>email</th>
              <th>Show</th>
              <th>Edit</th>
              <th>Eliminate</th>
            </tr>
          </thead>
          <tbody>

            <% for(var i=0; i<items.length;i++) { %>
              <tr>
                <td> <%=i%> </td>
                <td> <%=items[i]._id%></a></td>
                <td> <%= items[i].name%></a></td>
                <td> <%= items[i].phonenumber%></a></td>
                <td> <%= items[i].email%></a></td>
                <td><a href="/admins/show/<%= items[i]._id%> "> Show </td>
                <td><a href="/admins/edit/<%= items[i]._id%> "> Edit </a></td>
                <td><a href="/admins/delete/<%= items[i]._id%> "> Eliminate </a></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      <% } else { %>
        <div>No admin found</div>
      <% } %>
    </div>
    <h3><a href="/users/create">Create new User</a></h3>
    <h3><a href="/admins/create">Create new Admin</a></h3>
  </body>
  <script src="/js/navbar.js"></script>
</html>