<!DOCTYPE html>
<html>
  <head>
    <title>Event List</title>
  </head>
  <body>
    <div class="container">
      <h1>Event List</h1>
      <% if(items.length>0) { %>
        <table class="list-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Id</th>
              <th>Event Name</th>
              <th>Details</th>
              <th>Date</th>
              <th>Place</th>
              <th>Seated</th>
              <th>Edit</th>
              <th>Eliminate</th>
            </tr>
          </thead>
          <tbody>

            <% for(var i=0; i<items.length;i++) { %>
              <tr>
                <td> <%=i%> </td>
                <td> <%=items[i]._id%></a></td>
                <td> <%= items[i].name%></a></td>
                <td> <%= items[i].details%></a></td>
                <td> <%= items[i].date%></a></td>
                <td> <%= items[i].place_id%></a></td>
                <td> <%= items[i].seated%></a></td>
                <td><a href="/items/show/<%= items[i]._id%> "> Show </td>
                <td><a href="/items/edit/<%= items[i]._id%> "> Edit </a></td>
                <td><a href="/items/delete/<%= items[i]._id%> "> Eliminate </a></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      <% } else { %>
        <div>No events found</div>
      <% } %>
    </div>
    <h3><a href="/items/create">Create new event</a></h3>
  </body>
</html>