<!DOCTYPE html>
<html>
  <head>
    <title>Event Detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Event Detail</h1>
      <form action="/items/edit/<%=item._id%>" method="post">
        <table>
          <tbody>
          <tr>
              <td>Id</td>
              <!-- Como o id não pode ser alterado usamos o input hidden para o enviar como campo do formulário. -->
              <td><input type="hidden" name="_id" id="_id" value="<%= item._id %>"><%= item._id %></td>
              </tr>
          <tr>
              <td>Name</td>
              <td><input type="text" name="name" id="name" value="<%= item.name %>"></td>
            </tr>
            <tr>
              <td>Details</td>
              <td><input type="text" name="quantity" id="quantity" value="<%= item.details %>"></td>
            </tr>
            <tr>
              <td>Date</td>
              <td><input type="date" name="date" id="date" value="<%= item.date %>"/></td>
            </tr>
            <tr>
              <td>Place</td>
              <td>
                <% if(places.length>0) { %>
                  <select id="place_id" name="place_id" >
                  <% for(var i=0; i<places.length;i++) { %>
                    <% if (item.place_id == places[i]._id ) { %>
                      <option value="<%= places[i]._id%>" selected><%= places[i].name%></option>
                    <% } else { %>
                      <option value="<%= places[i]._id%>"><%= places[i].name%></option>
                  <% } } %>
                  </select>
                  <td><a href="/places/create">Create new place</a></td>
                <% } else { %>
                  <a href="/places/create">Create new place</a>
                <% } %>
              </td>
            </tr>
            <tr>
              <td>  If the event has seats, please add also the structure</td>
              <td><input type="radio" name="seated" id="seated" /><input type="text" name="e_structure" id="e_structure" value="<%= item.e_structure %>" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Edit</button></td>
            </tr>
          </tbody>
        </table>
    </form>
    </div>
    <h3><a href="/items">Watch all the events</a></h3>
  </body>
</html>

