<!DOCTYPE html>
<html>
  <head>
    <title>Event Detail</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Event Detail</h1>
      <table>
        <tbody>
          <tr>
            <td>Id</td>
            <td>:</td>
            <td><%= item._id %></td>
          </tr>
          <tr>
            <td>Name</td>
            <td>:</td>
            <td><%= item.name %></td>
          </tr>
          <tr>
            <td>Details</td>
            <td>:</td>
            <td><%= item.details %></td>
          </tr>
          <tr>
            <td>Date</td>
            <td>:</td>
            <td><%= item.date %></td>
          </tr>
          <tr>
            <td>Place</td>
            <td>:</td>
            <td><%= item.place_id %></td>
          </tr>
          <tr>
            <td>Capacity</td>
            <td>:</td>
            <td><%= item.capacity %></td>
          </tr>
          <tr>
            <td>Tickets</td>
            <td>:</td>
            <td>
              <a href="/items/<%= item._id %>/tickets">Watch all the tickets</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3><a href="/items">Watch all the events</a></h3>
  </body>
</html>
