<!DOCTYPE html>
<html>
  <head>
    <title>Sale List</title>
  </head>
  <body>
    <div class="container">
      <h1>Sale List</h1>
      <% if(items.length>0) { %>
        <table class="list-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Id</th>
              <th>Ticket id</th>
              <th>Person id</th>
              <th>Show</th>
              <th>Edit</th>
              <th>Eliminate</th>
            </tr>
          </thead>
          <tbody>

            <% for(var i=0; i<items.length;i++) { %>
              <tr>
                <td> <%=i%> </td>
                <td> <%=items[i]._id%></a></td>
                <td> <%= items[i].name%></a></td>
                <td> <%= items[i].details%></a></td>
                <td> <%= items[i].date%></a></td>
                <td> <%= items[i].place_id%></a></td>
                <td> <%= items[i].capacity%></a></td>
                <td><a href="/sales/show/<%= items[i]._id%> "> Show </td>
                <td><a href="/sales/edit/<%= items[i]._id%> "> Edit </a></td>
                <td><a href="/sales/delete/<%= items[i]._id%> "> Eliminate </a></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      <% } else { %>
        <div>No sales found</div>
      <% } %>
    </div>
    <!-- <h3><a href="/sales/create">Create new sale</a></h3> -->
  </body>
</html>