<!DOCTYPE html>
<html>
  <head>
    <title>Places List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/" class="nav-branding">PortugueseRoots</a>
        <a href="/users" class="button">See all Users</a>
        <a href="/users/create" class="button secondary">Create user</a>
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="/admins/create" class="nav-link">Create admin</a>
          </li>
          <li class="nav-item">
            <a href="/admins" class="nav-link">See all Admins</a>
          </li>
          <li class="nav-item">
            <a href="/items" class="nav-link">See all the events</a>
          </li>
          <li class="nav-item">
            <a href="/places" class="nav-link">See all the places</a>
          </li>
          <li class="nav-item">
            <a href="/sales" class="nav-link">See all the sales</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <section>
      <div class="container">
        <h1>Place List</h1>
        <% if(places.length>0) { %>
          <table class="list-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Place Name</th>
                <th>Address</th>
                <th>Create new ticket</th>
                <th>Edit</th>
                <th>Eliminate</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i<places.length;i++) { %>
                <tr>
                  <td> <%= i+1%> </td>
                  <td> <%= places[i].name%></td>
                  <td> <%= places[i].address%></a></td>
                  <td><a href="/places/<%= places[i]._id %>/tickets">New ticket</a></td>
                  <td><a href="/places/edit/<%= places[i]._id%> "> Edit </a></td>
                  <td><a href="/places/delete/<%= places[i]._id%> "> Eliminate </a></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        <% } else { %>
          <div>No places found.</div>
        <% } %>
      </div>
      <h3 class="links"><a href="/places/create">Create new place</a></h3>
      <h3 class="links"><a href="/items">See all events</a></h3>
    </section>
  </body>
  <script src="/js/navbar.js"></script>
</html>